* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
html,
body {
      min-height: 100vh;
      margin: 0;
      font-size: 10px;
    }
    
body {
      font-family: 'Open Sans', sans-serif; 
      background-color:#ffffff;
    }
    
   
    
   
    
    img {
      width: 100%;
    }
    
   

/*====== Main Header ======*/
.logo-principal{
  width: 100%; 
  display: block; 
  margin-left: 40px;
}

#header {background:#ee6d10ef;color:#fff; padding-top: 10px; font-size: 12px;}

#menu{display: flex; width: 100%; justify-content: space-between; align-items: center;}
#menu .menu-left{padding-left: 15px;}
#menu .menu-right{padding-right: 20px;}
#menu li{display:inline-block;}
#menu li a{display:none;color:#fff;font:300 'Jost';text-transform: uppercase;padding:10px 20px;transition:300ms ease-out; text-decoration: none ;}
#menu li a:hover{color:#100800;}

ul {padding-inline-start: 0px;} 

@media screen and (min-width : 600px) {
    #menu li a{
        display:block;}
    #burger-menu{
        display: none;}
    .brand{
        display: inline-block; }
}
@media screen and (max-width : 599px) {
       
    #menu {
    height:0;
    left: 0;
    right: 0;
    width: 100vw;
    background:#000;
    transition: 0.5s;
    display:block;
    overflow: hidden;
}
#menu.active {
    height: 30%;
}
#menu  ul{
    display: block;
    font-size: 10px;
    text-align: center;
    transition: 0.5s;
    opacity: 0  ;
   
}
#menu.active ul {
    opacity: 1;
}

    #menu li{display:block}
    #menu li a{  display:block;
                color:#fff;
                font:300 'Jost';
                text-transform: uppercase;
                transition:300ms ease-out; 
                text-decoration: none ;}
    #menu a{padding: 10px 10px;}

    #menu .menu-right{
        padding-right: 0px;
        margin-bottom: 10px;
        margin-top: 4px;
        ;}
    #menu .menu-left{
        padding-left: 0px;
        margin-bottom: 10px;
        margin-top: 4px;
    }

#burger-menu{
    display: block;
    cursor: pointer;
    text-align: center;
    padding-bottom: 10px;
    
   
}

    .brand{
        display: none; }

}





  






/*====== Products ======*/
.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-title {
  font-size: 2.4em;
  font-weight: 400;
  color: #666;
}

.product-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid #666;
}

.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_data h2 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color:#39b54a ;
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  color:#666;
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: #39b54a;
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 40px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px #39b54a;
}


/*====== Footer ======*/
.container-footer{
  display: block;
}
.main-footer {
  background-color: #ffffff;
  padding: 20px 0;
  margin-top: 80px;
  width: 100%;
  }

.footer-article{
  text-align: center;
}

.footer-article h2 {
  color: #666;
  font-size: 24px;
  font-weight: 400;
  }
.footer-article p {
  color: #666;
  font-size: 16px;
  font-weight: 300;
  padding: 15px 0px;
  margin-left: 10px;
  margin-right: 10px;
  }
.footer-article i {
  color: #03264C;
  font-size: 3.5em;
    }

.copy-footer p {
  margin: 0;
  color: #666;
  padding: 15px 0;
  margin-left: 5px;
  }
.copy-footer {
  border-top: 1px solid #ebebeb;
  background-color: #ffffff;
    }
/*====== Product Detail ======*/
.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-img {
  width: 100%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-left: 1px solid #ebebeb;
  padding: 15px;
  height: 100%;
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 15px;
  font-size: 1.8em;
  line-height: 1.5;
}

.product-detail-price {
  font-size: 5.5em;
  margin: 10px 0;
}

.small {
  font-size: 1.8em;
  color: #39b54a;
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color:#39b54a ;
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: #666;
  font-size: 1.7em;
  margin: 0;
}

.buy-now-button {
  background-color: #03264C ;
  font-size: 1.6em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: pink;
}
.action-button.delete {
  background-color: rgb(248, 69, 37);
}






/*====== Media-Queries ======*/
@media (min-width: 768px) {
  .main-header_credit-link {
    margin-top: 0;
    text-align: right;
  }

  .banner {
    height: 320px;
  }
  .burger-menu  {
    display: none;
  }
  
  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }

  .left-navbar a:hover,
  .right-navbar a:hover {
    color: yellowgreen;
  }

  .left-navbar li {
    margin-right: 15px;
  }

  .right-navbar li {
    margin-left: 15px;
  }
  

  


  .main-footer {
    padding: 40px 0;
  }

  .footer-data {
    width: 95%;
    margin: auto;
  }


}

