<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paneles Colombia</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles-home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    <header id="header">
        <i id="burger-menu" class="fa-solid fa-bars fa-2x"></i>
        <nav>
            <div id="menu">
                <div class="col-5 col-md-2">
                  <img src="/img/panelescolombialogo.png" class="logo-principal">
                  </a>
                </div>
                <ul class="menu-right">
                    <li class="item"><a href="/" title="Home">Home</a></li>
                    <li class="item"><a href="/product/detalle-producto" title="Contacto">Productos</a></li>
                    <li class="item"><a href="/user/registro" title="Contacto">Crear cuenta</a></li>
                    <li class="item"><a href="/user/login" title="Login">login</a></li>
                    <li class="item"><a href="/user/perfil" title="Contacto">Mi perfil</a></li>
                    <li class="item"><a href="/user/logout" title="Login">Logout</a></li>
                    
                </ul>
            </div>
        </nav>
    </header>                 
               
    <!--  Fin de Header -->
       <!-- Banner -->
		 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/img/paneles-solares.jpg" class="d-block w-100" alt="primer banner de producto">
              </div>
              <div class="carousel-item">
                <img src="/img/banner3-jpg.jpg" class="d-block w-100" alt="segundo banner">
              </div>
			</div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
              
		<!-- /fin del banner -->
       <!-- ultima visita -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Basado en tu última visita</h2>
				</div>
				
				
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="https://mercadolibre.com">
							<figure class="product-box_image">
								<img class="productoimg" src="/img/panel24v.jpg" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$6.770</h2>
								<span>40 % OFF</span>
								<p>Cafetera Moulinex</p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
				
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="#">
							<figure class="product-box_image">
								<img src="/img/panel24v.jpg" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$230.000</h2>
								<span>20 % OFF</span>
								<p>MacBook Pro 2019</p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>				
			
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="#">
                        <figure class="product-box_image">
                            <img src="/img/panel24v.jpg" alt="imagen de producto">
                        </figure>
                        <article class="product-box_data">
                            <h2>$23.200</h2>
                            <span>5 % OFF</span>
                            <p>Smart TV Samsung 43¨</p>
                            <i class="fas fa-truck"></i>
                        </article>
                    </a>
                </section>
            </div>				
        </div>
            </div>
		</div>
		<!-- /ultima visita -->

		<!-- Ofertas -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Ofertas</h2>
				</div>
				
				
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="#">
							<figure class="product-box_image">
								<img src="/img/panel24v.jpg" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$6.770</h2>
								<span>40 % OFF</span>
								<p>Cafetera Moulinex</p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
				
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="#">
							<figure class="product-box_image">
								<img src="/img/panel24v.jpg" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$230.000</h2>
								<span>20 % OFF</span>
								<p>MacBook Pro 2019</p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="#">
							<figure class="product-box_image">
								<img src="/img/panel24v.jpg" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$70.500</h2>
								<span>10 % OFF</span>
								<p>Samsung Galaxy S10</p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
                <div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="#">
							<figure class="product-box_image">
								<img src="/img/panel24v.jpg" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$23.200</h2>
								<span>5 % OFF</span>
								<p>SmartTv Samsung 43"</p>
								<i class="fas fa-truck"></i>
							</article>
						</a>
					</section>
				</div>
			</div>
		</div>
		<!-- /Ofertas -->

           
<!-- footer -->
    <footer class="main-footer">
<div class="container-footer">
    <div class="row">
        <div class="col-12 col-lg-4">
            <article class="footer-article">
                <i class="fas fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                    es seguro!</p>
            </article>
        </div>
        <div class="col-12 col-lg-4">
            <article class="footer-article">
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $ 1.999</h2>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                    de Mercado Puntos.</p>
            </article>
        </div>
        <div class="col-12 col-lg-4">
            <article class="footer-article">
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegido.</p>
            </article>
        </div>
    </div>
</div>
<div class="copy-footer">
<div class="container-copy">
    <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
</div>
</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" ></script>  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"></script>
</body>
</html>
