<header id="header">
    <i id="burger-menu" class="fa-solid fa-bars fa-2x"></i>
    <nav>
        <div id="menu">
            <div class="col-5 col-md-2">
              <img src="/img/panelescolombialogo.png" class="logo-principal">
              </a>
            </div>
            <ul class="menu-right">
                <% if (locals.isLogged) { %>
                <li class="item"><a href="#" title="Login">Hola, <%= locals.usuarioLogeado.nombre %></a></li>
                <li class="item"><a href="/" title="Home">Home</a></li>
                <li class="item"><a href="/product/detalle-producto" title="Contacto">Productos</a></li>
                
              
                <% if (locals.usuarioLogeado.tipo == "comun") { %>
                    <li class="item"><a href="/user/perfil" title="Contacto">Mi perfil</a></li>
    
                <% } else { %>
                    <li class="item"><a href="/user/admin" title="Contacto">Perfiles</a></li>

                <% } %>
                <li class="item"><a href="/user/logout" title="Login">Logout</a></li>

                <% } else { %>
                    <li class="item"><a href="/user/login" title="Login">login</a></li>
                <% } %>

                
            </ul>
        </div>
    </nav>
</header>                 
          