<!DOCTYPE html>
<html lang="en">
<head>  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link href="/css/styles-login-registro.css"rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">

</head>

<body>

    <main>

        <div class="container" id="container">
            <div class="form-container sign-in-container">    
                <form action="registro" method="POST" enctype="multipart/form-data" id="formulario" class="container1" >   
                    <div>   
                        <div>
                            <!--nombre del usuario-->
                            <div class="celda">
                                <label for="nombre">Nombre Completo<span class="asterisco">*</span></label>
                                <div>  
                                    <input type="text" id="nombre" name="nombre" class="form-control input" > 
                                    <% if (locals.errors && errors.name) { %>
                                        <p class="feedback"><%= errors.name.msg %></p>
                                    <% } %> 
                                                                                
                                </div>
                                
                            </div>

                            <!--email del usuario-->
                            <div class="celda" id="campos_email">             
                                <label for="email" >Email<span class="asterisco">*</span></label>
                                <div class="input-group flex-nowrap">
                                </div>
                                <input type="email" id="email" name="email" class="form-control input"  id="email">
                            
                            </div>

                            <!--imagen de perfil del usuario-->
                            <div class="celda" id="campos_imagen">       
                                <label for="formFile"  class="form-label">Selecciona tu imagen de perfil<span class="asterisco">*</span></label>
                                <div>
                                    <input type="file" id="imagen" class="form-control input"  name="imagen" >
                                    <span></span>
                                    
                                </div>
                            </div>
                            <div class="celda" id="campos_tipo-usuario">
                                <label for="validationDefault01" class="form-label">Tipo de usuario</label>
                                <select id="validationDefault01" name="tipo" required class="form-control">
                                <option value="comun">Comun</option>
                                <option value="admin">Admin</option>
                                </select>
                                </div>

                            <!--password del usuario-->
                            <div class="celda" id="campos_contraseña">       <!-- FALTA AGREGAR OPCION VER CONTRASEÑA -->
                                <label for="contraseña">Contraseña<span class="asterisco">*</span></label>
                                <div>
                                    <input type="password" id="password" class="form-control input" name="password" placeholder="Ej: Contraseña123" >
                                    <span></span>
                                    
                                </div>
                            </div>

                            
                            <!--confirmar password-->
                            <div class="celda" id="campos_contraseña2">      
                                <label for="confirmar_contraseña">Confirma tu contraseña<span class="asterisco">*</span></label>
                                <div>
                                    <input type="password" id="confirmPassword" class="form-control input" name="confirmPassword" >
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        
                        <!--boton + captcha + redireccion-->
                        <div>
                            <!-- falta captcha -->  
                            <button = type="submit" class="boton color_especial">Registrar</button>                                
                            <p>¿Ya tenes una cuenta? <a href="/user/login" class="color_especial redireccion">Inicia sesión</a><p> 
                        </div>
            
                </form>
            </div>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Registrar</h1>
                    <p>Por favor, completa los siguientes datos
                    </p>
                </div>
            </div>
        </div>
  

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>  
    
</body>
</html>